<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>My apps</title>
</head>

<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <a href="../" class="navbar-brand">Jogo SpaceShooter</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="/help">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/curso">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/area">Áreas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Jogar</a>
                    </li>
                    
                </ul>
                <ul class="navbar-nav ms-md-auto">
                    <li class="nav-item">
                        <a target="_blank" rel="noopener" class="nav-link"
                            href="https://github.com/thomaspark/bootswatch/"><i class="bi bi-github"></i> GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" rel="noopener" class="nav-link" href="https://twitter.com/bootswatch"><i
                                class="bi bi-twitter"></i> Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container main-body">
        {{{body}}}
    </div>
    <i class="fa-solid fa-user"> FAFAFAFA</i>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/custom.js"></script>
    {{content}}
</body>

</html>