<h1>Formulário de Criação de Curso</h1>
<form action="/curso/create" method="post">
    <div class="container">
        <div class="col-6">

            <div class="form-group">
                <label for="sigla" class="form-label mt-4">Sigla do curso</label>
                <input type="text" class="form-control" id="sigla" name="sigla" aria-describedby="siglaHelp"
                    placeholder="IE07" />
                <small id="siglaHelp" class="form-text text-muted">Por favor insira a sigla do curso.</small>
            </div>
            <div class="form-group">
                <label for="nome" class="form-label mt-4">Nome do curso</label>
                <input type="text" class="form-control" id="nome" name="nome" aria-describedby="nomeHelp"
                    placeholder="Engenharia de Software" />
            </div>
            <div class="form-group">
                <label for="descricao" name="descricao" id="descricao" class="form-label mt-4">Descrição do Curso</label>
                <textarea class="form-control" id="descricao" rows="3"></textarea>
            </div>
            <fieldset class="form-group">
                <legend class="mt-4">Radio buttons</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="areaId" id="areaId1" value="1" checked="">
                    <label class="form-check-label" for="areaId1">
                        Ciências Exatas
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="areaId" id="areaId2" value="2">
                    <label class="form-check-label" for="areaId2">
                        Ciências Humanas
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="areaId" id="areaId3" value="3">
                    <label class="form-check-label" for="areaId3">
                        Ciências Biologicas
                    </label>
                </div>
                <input type="submit" class="btn btn-primary mt-4">Adicionar Curso</button>
            </fieldset>
        </div>
    </div>
</form>