h2
{
    padding-left: 50%;
}
p
{
    padding-left: 10px;
}
body
{
    margin: 0;
    /*border: medium solid gray;*/
    background-color: rgb(7, 3, 11);
    background-image: url(./thunder.jpg);
    background-repeat: no-repeat;
    background-size: 1400px 1000px;
    background-position: 250px 10px;
    overflow: hidden;
    padding: 200px 16px 16px 180px;
}

div {
    margin: 100px;
    padding: 20px 16px 16px 16px;
    background-color: rgba(0, 0, 0, 0.8);
    color: aquamarine;
    position: relative;
    border: 8px solid blueviolet;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 600px;
    max-height: 1500px;
    box-shadow: 0px 0px 10px 10px rgb(145, 115, 189),
                0px 0px 10px 5px rgb(145, 115, 189) inset
    ;
}