<h2>Space Shooter</h2>

<div id="space">
    <button id="reiniciar">Reiniciar</button>
    <div class="barra-vidas" id="vidasBar"></div>
    <div class="pontos" id="pontuacao">00000</div>
    <img id="ship" src="img/player.png" alt="" />
</div>