div{
    display: inline-flex;
    flex-direction: column-reverse;
    background-color: red;
    margin: 5px;
    margin-top: 20px;
    width: 50px;
}
.qua1
{
    height: 20px;  
}
.qua2
{
    height: 20px;
}
.qua3
{
    height: 20px;
}
.qua4
{
    height: 20px;
}
.qua5
{
    height: 20px;
}